.images-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10vh;
}

.trump {
  height: 300px;
  cursor: pointer;
}

.kanye {
  height: 300px;
  cursor: pointer;
}

.quote-container {
  margin-top: 10vh;
  display: flex;
  justify-content: center;
}

.quote {
  font-size: 3em;
}